/* .carouse-item-height{
  height: 100%;
} */

@keyframes zoomOut {
  from {
      transform: scale(0.8); /* Start with no scale (normal size) */
  }
  to {
      transform: scale(1); /* Zoom-out to 80% of original size */
  }
}

.about-section-padding {
  padding-top: 100px; 
}

.services-section-padding {
  padding-top: 10px; 
}

.carousel-item img {
  animation: zoomOut 1s ease forwards; /* Apply the animation */
  animation-duration: 5s;
}

.carouse-img-height{
  height: 100%;
  object-fit: cover;
}

#icon-dash {
  color: rgb(240, 64, 64);
  width: 100%;
  font-size: 100px;
  text-align: center;
}

.about {
  margin-top: 100px;
}

#about-text {
  position:absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
  color: grey;
}

#founder-text {
  position:absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 70px;
  color: grey;
}

.center-icons {
  margin-top: 100px;
  text-align: center;
}

#row-gap {
  margin-top: 100px;
}

.transparent-section {
  background-image: url('img/glass-3276648_1920.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: 100px;
  height: 400px;
  object-fit: cover;
}

#justify-trans-sec-span {
  padding-top: 50px;
}

#trans-sec-text {
  padding-top: 150px;
  font-weight: bolder;
  color: white;
}

.founder {
  margin-top: 100px;
}

.img-container {
  display: flex;
  justify-content: center;
  margin-top: 250px;
}

.card {
  width: 500px;
}

.card img {
  width: 100%;
}

.card-body {
  background-color: rgb(223, 217, 217);
}

.card-img-border {
  padding: 10px;
  background-color: rgb(223, 217, 217);
}

.contact {
  color: white;
}

.contact-info {
  margin-top: 50px;
}

.contact-info img {
  display: inline-block;
  vertical-align: middle;
  width: 20px; 
  margin-right: 10px;
}

#fixed-navbar {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
}

footer {
  margin-top: 200px;
  background-color: black; 
  color: #fff; 
  text-align: center; 
}


.social-media {
  padding-top: 20px;
}

/* Style for common information */
.common-info {
  margin-top: 20px; 
  font-size: 0.9em; 
  font-family: Arial, Helvetica, sans-serif;
}

.social-media img {
  width: 30px; 
  height: 30px; 
  margin: 0 10px; 
}

#back-to-top {
  display: none; 
  position: fixed; 
  bottom: 35px; 
  right: 20px; 
  background-color: #007bff; 
  color: #fff; 
  border: none;
  border-radius: 50%; 
  width: 30px; 
  height: 30px; 
  font-size: 20px; 
  line-height: 40px; 
  text-align: center; 
  cursor: pointer; 
}

.services {
 margin-top: 200px;
}
.service-image:hover {
  transform: scale(1.2); 
}

.service-image {
  transition: tranform 0.3 ease;
  width: 100px;
  border: 2px red solid;
  border-radius: 20px 20px;
  margin-top: 20px;
}

.adjust-service-text {
  margin-top: 20px;
}

.btn-container {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.btn {
  border-radius: 20px 20px;
  color: white;
  background-color: rgb(189, 185, 185);
  border: none;
}


.section-heading {
  text-align: center;
  font-size: xx-large;
  font-weight: bold;
}

/*------------------------------------------------------*/
 
@media screen and (max-width: 1256px) {
  .img-container {
    margin-top: 300px;
  }

}

@media screen and (max-width: 1098px) {
  #founder-text {
   margin-top: 120px;
 }

}

@media screen and (max-width: 992px) {
  #founder-text {
    padding: 20px;
    width: 100%;
    justify-content: space-between;
  }

  #about-text {
    padding: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 940px) {
  .img-container {
    margin-top: 320px;
  }

}

@media screen and (max-width: 938px) {
  #about-text {
    margin-top: 100px;
  }

  .services {
    margin-top: 300px;
  }

}


@media screen and (max-width: 828px) {
  #founder-text {
    margin-top: 150px;
  }

  .img-container {
    margin-top: 420px;
  }

}
/*
  #founder-text {
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 80px;
  }

  .services {
    margin-top: 200px;
  }

  .img-container {
    margin-top: 200px;
  }
}

@media screen and (max-width: 1295px) {
  .img-container {
    margin-top: 300px;
  }
}

@media screen and (max-width: 1138px) {
  .img-container {
    margin-top: 300px;
  }
}

@media screen and (max-width: 1024px) {
  #about-text {
    padding: 10px;
  }

  #founder-text {
    padding: 10px;
  }
  
}

@media screen and (max-width: 990px) {
  .btn-container {
    margin-top: 60px;
    
  }
  .card {
    width: 400px;
  }
  .about{
    margin-top: 60px;
  }
  .center-icons {
    margin-top: 60px;
   
  }
  .founder {
    margin-top: 60px;
  }
  .contact {
    margin-top:400px;

  }
  
}

@media screen and (max-width: 887px) {
  .contact {
    padding: 20px 0 20px 0;
  }

  .contact-info {
    font-size: smaller;
    margin: 25px 0 0 0;
  }
  .section-heading {
    font-size: x-large;
  }
  
}

@media screen and (max-width: 836px) {
  .card {
    width: 300px;
  }
}

@media screen and (max-width: 768px) {
  #about-founder-text {
    padding: 10px;
    width: 100%;
  }
}


@media screen and (max-width: 665px) {
  .contact {
    padding: 15px 0 15px 0;
  }

  .contact-info {
    font-size: smaller;
    margin: 25px 0 0 0;
  }
  .section-heading {
    font-size: large;
  }
  .common-info {
    font-size: smaller;
  }
  .social-media img {
    width: 25px; 
    height: 25px; 
    margin: 0 10px; 
  }
  
}

@media screen and (max-width: 635px) {
  .contact {
    padding: 10px 0 10px 0;
  }

  .contact-info {
    font-size: x-small;
    margin: 25px 0 0 0;
  }
  .section-heading {
    font-size: medium;
  }
  .common-info {
    font-size: x-small;
  }
  .social-media img {
    width: 20px; 
    height: 20px; 
    margin: 0 7px; 
  }
  .section-heading {
    font-size: medium;
  }
}

@media screen and (max-width: 628px) {
  .contact {
    margin-top: 500px;

  }
}

  @media screen and (max-width: 568px) {
    #about-founder-text {
      margin-top: 100px;
    }
}

@media screen and (max-width: 440px) {
  #about-founder-text {
    margin-top: 120px;
  }
}

@media screen and (max-width: 368px) {
  #about-founder-text {
    margin-top: 140px;
  }

  .img-container {
    margin-top: 340px;
  }
} */